<template>
  <button class="btn">
    <slot name="header"></slot>
    <slot>Default Btn text</slot>
    <slot name="footer"></slot>
  </button>
</template>

<style scoped>
.btn {
  all: unset;
  padding: 8px;
  border: 1px solid teal;
  background: goldenrod;
}
</style>
