<script setup>
import { ref, computed } from 'vue'

const firstName = ref('John')
const lastName = ref('Doe')

const fullName = computed({
  get() {
    return firstName.value + ' ' + lastName.value
  },

  set(newValue) {
    const fullName = newValue.split(' ');
    firstName.value = fullName[0]
    lastName.value = fullName[1]
    // [firstName.value, lastName.value] = newValue.split(' ')
  }
})
</script>

<template>
  <pre>First Name:{{ firstName }}</pre>
  <pre>Last Name:{{ lastName }}</pre>
  <pre>Full Name:{{ fullName }}</pre>

  <input type="text" v-model="fullName">
</template>


