<script setup>
import { ref, watch } from 'vue'

const rawData = [{"category":"film_and_tv","id":"645f952f541c4d4fc8cf2ecd","correctAnswer":"Jackie Chan","incorrectAnswers":["Jet Li","Bruce Lee","Donnie Yen"],"question":{"text":"Which Chinese action star has broken a number of bones doing stunts and acted in films like 'Drunken Master' and 'Rumble in the Bronx'?"},"tags":["film_and_tv","film","acting"],"type":"text_choice","difficulty":"hard","regions":[],"isNiche":false},{"category":"food_and_drink","id":"622a1c3b7cc59eab6f9515d2","correctAnswer":"Sauerkraut ","incorrectAnswers":["Currywurst","Pumpernickel","Schnitzel"],"question":{"text":"What name is given to a German dish of chopped fermented cabbage?"},"tags":["germany","food","food_and_drink"],"type":"text_choice","difficulty":"medium","regions":[],"isNiche":false},{"category":"music","id":"622a1c397cc59eab6f950d95","correctAnswer":"The Who","incorrectAnswers":["Deep Purple","Travis","Spandau Ballet"],"question":{"text":"Which band includes 'Keith Moon'?"},"tags":["music"],"type":"text_choice","difficulty":"hard","regions":[],"isNiche":false},{"category":"science","id":"622a1c367cc59eab6f9503ef","correctAnswer":"DNA","incorrectAnswers":["The Brain","Dark Matter","Beta Radiation"],"question":{"text":"What did Francis Crick and James Watson build a molecular model of in 1953?"},"tags":["science"],"type":"text_choice","difficulty":"medium","regions":[],"isNiche":false},{"category":"society_and_culture","id":"6293ebf47f41d6338b96eecc","correctAnswer":"James Watt","incorrectAnswers":["Joe Tyler","Nikolaus August Otto","Thomas Edison"],"question":{"text":"Which influential scientist improved the Newcomen steam engine, creating an efficient steam engine?"},"tags":["people","history","science","inventions"],"type":"text_choice","difficulty":"medium","regions":[],"isNiche":false},{"category":"arts_and_literature","id":"622a1c367cc59eab6f950188","correctAnswer":"Henry VI","incorrectAnswers":["Richard III","Othello","Macbeth"],"question":{"text":"What was Shakespeare's first play?"},"tags":["arts_and_literature"],"type":"text_choice","difficulty":"hard","regions":[],"isNiche":false},{"category":"music","id":"622a1c357cc59eab6f94ff3a","correctAnswer":"Michael Jackson","incorrectAnswers":["Nicki Minaj","Neil Young","Eric Clapton"],"question":{"text":"Which American musician sung 'Rock with You'?"},"tags":["songs","music"],"type":"text_choice","difficulty":"easy","regions":[],"isNiche":false},{"category":"geography","id":"622a1c387cc59eab6f950af3","correctAnswer":"Belgium","incorrectAnswers":["Liechtenstein","Slovenia","San Marino"],"question":{"text":"Which of these countries borders Germany?"},"tags":["germany","geography"],"type":"text_choice","difficulty":"hard","regions":[],"isNiche":false},{"category":"science","id":"64909c4c58265893a0c86d90","correctAnswer":"Pyrite","incorrectAnswers":["Magnetite","Hematite","Chromite"],"question":{"text":"What is the name of the type of iron which is sometimes known as \"Fool's gold\"?"},"tags":["chemistry","geology","minerals","science","materials"],"type":"text_choice","difficulty":"medium","regions":[],"isNiche":false},{"category":"food_and_drink","id":"622a1c367cc59eab6f950245","correctAnswer":"Schnapps ","incorrectAnswers":["Brandy","Vodka","Rum"],"question":{"text":"Which German spirit is flavoured with caraway seeds and distilled from potatoes?"},"tags":["drink","food_and_drink"],"type":"text_choice","difficulty":"medium","regions":[],"isNiche":false}];
const category = ref('film_and_tv')

const obj = {
  foo: "bar",
  nested: {
    bar: "bar"
  }
}
const data = ref([])
const loading = ref(false)

// watch works directly on a ref
watch(category, (newCat, oldCat) => {
  loading.value = true
  console.log('NEW:', newCat)
  console.log('OLD:', oldCat)
  try {
    data.value = rawData.filter(datum => datum.category === newCat)
  } catch (error) {
    error.log(error)
  } finally {
    loading.value = false
  }
})
</script>

<template>
  <p>
    Select a category

    <select v-model="category">
      <option value="film_and_tv">Film and TV</option>
      <option value="music">Music</option>
      <option value="sport_and_leisure">Sport and Leisure</option>
      <option value="arts_and_literature">Arts and Literature</option>
    </select>
  </p>

  <pre v-if="data">{{data}}</pre>
  <pre v-else>No data</pre>
</template>
