<script setup lang="ts">
import {onBeforeMount, onBeforeUnmount, onMounted, onUpdated, ref} from "vue";

const props = defineProps({
  data: {
    type: Object,
    default: null
  }
})

const value = ref('value');

onBeforeMount(() => {
  console.log('before mounted')
  console.log(props.data)
})

onMounted(() => {
  console.log('mounted!')
})

onUpdated(() => {
  console.log('something changed')
})

onBeforeUnmount(() => {
  console.log('unmounted, remove event listeneres')
})
</script>

<template>
  <pre>{{ data }}</pre>
  <input type="text" v-model="value">
</template>
