<script setup lang="ts">
import {ref} from "vue";

const show = ref(false);

function onAfterLeave() {
  console.log('Gone but not forgotten');
}
</script>

<template>
  <button @click="show = !show">Toggle</button>
  <Transition name="show" @afterLeave="onAfterLeave">
    <p v-if="show">hello</p>
  </Transition>
</template>

<style scoped>
.show-enter-active,
.show-leave-active {
  transition: all 0.5s ease;
}

.show-enter-from,
.show-leave-to {
  opacity: 0;
}

.show-enter-from {
  transform: translateY(5rem);
}

.show-enter-to {
  transform: translateY(-2rem);
}

.show-enter-to,
.show-leave-from {
  opacity: 1;
}
</style>
