<script lang="ts">
import {defineComponent} from 'vue'
import SampleChild from "@/components/SampleChild.vue";

export default defineComponent({
  name: "SamleOptions",
  components: { SampleChild },
  data() {
      return {
        counter: 0
      }
  },

  created() {

  },

  computed: {
    counterDouble() {
      return this.counter * 2;
    }
  },

  methods: {
    onClick() {
      this.counter++
    },
    onDecrease() {
      this.counter--
    }
  }
})
</script>

<template>
  <div class="wrapper">
    <button @click="onClick">Increment</button>
    <p :style="{ 'backgroundColor': `hsl(${Math.round(counterDouble)}, 50%, 50%)` }">{{ counterDouble }}</p>
    <SampleChild :counter="counter" @decrease="onDecrease" />
  </div>
</template>

<style scoped>
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
button {
  all: unset;
  padding: 4px;
  background-color: antiquewhite;
  cursor: pointer;
}

button:hover {
  background-color: bisque;
}

p {
  margin-top: 16px;
  padding: 8px;
}
</style>

