<script setup lang="ts">
import {optionsStore} from "@/stores/piniaStoreOptions";

const store = optionsStore();
</script>

<template>
  <div>
    <p>Child getting Data {{ store.count }}</p>
    <button @click="store.decrement()">Decrease Counter</button>
  </div>
</template>
