<script setup lang="ts">
import {computed, ref} from "vue";
import SampleChild from "@/components/SampleChild.vue";

const counter = ref(0);
const counterDouble = computed(() => counter.value * 2);
function onClick() {
  counter.value++
}
function onDecrease() {
  counter.value--
}
</script>

<template>
  <div class="wrapper">
    <input type="number" v-model="counter">
    <button @click="onClick">Increment</button>
    <p :style="{ 'backgroundColor': `hsl(${Math.round(counterDouble)}, 50%, 50%)` }" :class="counter > 10 ? 'foo' : 'bar'">Count double: {{ counterDouble }}</p>
    <SampleChild v-if="counter > 10" class="child" :counter="counter" @decrease="onDecrease" />´
  </div>
</template>

<style scoped>
.wrapper {
  width: 480px;
  display: flex;
  flex-direction: column;
}

input, button {
  all: unset;
  padding: 4px;
  border: 1px solid lightslategray;
}

button {
  background-color: darkseagreen;
  cursor: pointer;
  margin-top: 8px;
  border-radius: 8px;
  border-color: forestgreen;
  text-align: center;
}

button:hover {
  background-color: forestgreen;
}

p {
  margin-top: 16px;
  padding: 8px;
}

.child {
  margin-top: 8px;
}
</style>
