<script setup lang="ts">
defineProps<{
  counter: number
}>()

defineEmits<{
  (e: 'decrease'): void
}>()
</script>

<template>
  <div>
    <p>Child getting Data {{ counter }}</p>
    <button @click="$emit('decrease')">Decrease Counter</button>
  </div>
</template>
