<script setup lang="ts">
import {computed, ref} from "vue";

const trafficLights = [
  {
    name: 'green',
    label: 'Green',
    title: 'Verfügbar'
  },
  {
    name: 'orange',
    label: 'Orange',
    title: 'Verfügbar in 3-5 Tagen'
  },
  {
    name: 'red',
    label: 'Red',
    title: 'Verfügbar in 2-3 Wochen'
  }
];
const items = [
  {
    title: 'ARICO Bikeshorts',
    trafficLight: 'orange'
  },
  {
    title: 'ROSE UNPAVED Radschuhe',
    trafficLight: 'green'
  },
  {
    title: 'GIRO SYNTAX MIPS Fahrradhelm',
    trafficLight: 'green'
  },
  {
    title: 'VAUDE BIKE GAITER SHORT Überschuhe',
    trafficLight: 'red'
  },
  {
    title: 'BIKE I 20 Fahrradrucksack \n',
    trafficLight: 'orange'
  },
  {
    title: '2-24 Nm Drehmomentschlüssel',
    trafficLight: 'red'
  },
  {
    title: 'MARATHON PLUS MTB Performance Line Drahtreifen',
    trafficLight: 'orange'
  },
];

const currentTrafficLight = ref('');

const filteredItems = computed(() => {
  if (currentTrafficLight.value) {
    return items.filter((item) => {
      return item.trafficLight === currentTrafficLight.value
    })
  }

  return items;
})

function getTrafficLightTitle(light: string) {
  const matchingTrafficLight = trafficLights.find(trafficLight => trafficLight.name === light);

  if (matchingTrafficLight) {
    return matchingTrafficLight.title;
  }

  return null
}
</script>

<template>
  <main>
    <header>
      <select v-model="currentTrafficLight">
        <option value="">Filter by color</option>
        <option v-for="(light, lightIndex) in trafficLights" :value="light.name" :key="`trafficLightFilter-option-${lightIndex}`">{{light.label}}</option>
      </select>
    </header>
    <article v-for="(item, itemIndex) in filteredItems" :key="`item-${itemIndex}`">
      <h1>{{ item.title }}</h1>
      <p :style="{color: item.trafficLight}">
        <span class="lamp"></span>
        <span>{{ getTrafficLightTitle(item.trafficLight) }}</span>
      </p>
    </article>
  </main>
</template>

<style scoped>
.lamp {
  background-color: currentColor;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 8px;
  border-radius: 50%;
}
</style>
