<script setup lang="ts">
import SampleChildWithStore from "@/components/SampleChildWithStore.vue";
import {optionsStore} from "@/stores/piniaStoreOptions";
import {watch} from "vue";

const store = optionsStore();
</script>

<template>
  <div class="wrapper">
    <input type="number" v-model="store.count">
    <button @click="store.increment()">Increment</button>
    <p :style="{ 'backgroundColor': `hsl(${Math.round(store.doubleCount)}, 50%, 50%)` }" :class="store.count > 10 ? 'foo' : 'bar'">Count double: {{ store.doubleCount.value }}</p>
    <SampleChildWithStore v-if="store.count > 10" class="child" />´
  </div>
</template>

<style scoped>
.wrapper {
  width: 480px;
  display: flex;
  flex-direction: column;
}

input, button {
  all: unset;
  padding: 4px;
  border: 1px solid lightslategray;
}

button {
  background-color: darkseagreen;
  cursor: pointer;
  margin-top: 8px;
  border-radius: 8px;
  border-color: forestgreen;
  text-align: center;
}

button:hover {
  background-color: forestgreen;
}

p {
  margin-top: 16px;
  padding: 8px;
}

.child {
  margin-top: 8px;
}
</style>
