<script setup lang="ts">
import Sample from "@/components/Sample.vue";
import SamleOptions from "@/components/SamleOptions.vue";
import SampleItems from "@/components/SampleItems.vue";
import AdvancedComputed from "@/components/Advanced/AdvancedComputed.vue";
import AdvancedWatch from "@/components/Advanced/AdvancedWatch.vue";
import AdvancedSlots from "@/components/Advanced/AdvancedSlots.vue";
import AdvancedLifecycles from "@/components/Advanced/AdvancedLifecycles.vue";
import {ref, computed} from "vue";
import AdvancedTransitions from "@/components/Advanced/AdvancedTransitions.vue";
import SampleWithStore from "@/components/SampleWithStore.vue";

const showLifecycles = ref(true);
const currentheadingType = ref('headingOne')
</script>

<template>
  <nav>
    <RouterLink to="/">Home</RouterLink>
    <RouterLink to="/morten">Mortens</RouterLink>
    <RouterLink to="/nested">Nested</RouterLink>
  </nav>

  <RouterView></RouterView>
  <SampleWithStore></SampleWithStore>
<!--  <SamleOptions />-->
<!--  <SampleItems/>-->
<!--  <AdvancedComputed></AdvancedComputed>-->
<!--  <AdvancedWatch></AdvancedWatch>-->
<!--  <AdvancedSlots>-->
<!--    <template #header>Header</template>-->
<!--    <template #footer>Footer</template>-->
<!--    <span>Kram</span>-->
<!--  </AdvancedSlots>-->
<!--  <advanced-lifecycles v-if="showLifecycles" :data="{ name: 'test'}"></advanced-lifecycles>-->
<!--  <button @click="showLifecycles = !showLifecycles">TOGGLE LIFECYCLES</button>-->
<!--  <AdvancedTransitions></AdvancedTransitions>-->
<!--  <component :is="headingComp">-->
<!--    <span>Some text</span>-->
<!--  </component>-->

<!--  <select name="" id="" v-model="currentheadingType">-->
<!--    <option value="headingOne">h1</option>-->
<!--    <option value="headingTwo">h2</option>-->
<!--    <option value="headingThree">h3</option>-->
<!--  </select>-->

<!--  <nav>-->
<!--    <RouterLink to="/">Go to Home</RouterLink>-->
<!--    <RouterLink to="/morten">Go to Morten</RouterLink>-->
<!--  </nav>-->
<!--  <main>-->
<!--    <RouterView />-->
<!--  </main>-->
</template>
